#JAVA

# Compilación y binarios
/out/
/bin/
/build/
/target/
*.class

# Cache de JavaFX
*/**/module-info.class

# Paquetes
*.jar
*.war
*.ear

#IDES

# Eclipse
.project
.classpath
.settings/

# VS Code
.vscode/
*.code-workspace


# Maven
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/


#MONGODB
# Dumps
dump/

# Claves o certificados
*.pem
*.key

# Archivos de configuración local
.env
.env.local

#SISTEMA

# Logs
*.log
logs/

# Archivos temporales
*.tmp
*.swp
*.swo
*.lock

# Sistema operativo
.DS_Store
Thumbs.db